.header {
    text-align: center;
}



.userInput{
    text-align: center;
    margin: 10px;
    word-break:keep-all;
}

.copyButton{
    margin: 10px;
    border-radius: 5px;
    background-color: #1D76DA;
    color: white;
}

#url{
    width: 200;
}